body {
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 40px;
            align-items: center;
            align-content: center;
            text-align: center;
        }
        .textans {
            background-color: #fff;
        }
        .c-files {
            font-size: 30px;
        }

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 5px; 
    margin: 15px; 
}
a:hover {
    background-color: red; 
}

.pdf-container {
            margin-bottom: 30px; 
}
    
